
body
{
	font-size:       62.5%; /* reset 1EM to 10px */
	margin:          0;
	padding:         0;
	font-family:     'lucida grande', arial, tahoma, sans-serif;
}

#container
{
	margin:          0 auto;
	width:           800px;
	position:        relative;

}

#header
{
	margin:          0 auto;
	width:           800px auto;
   height: auto;
}

.headtitle
{
	position:        relative;
	font-family:     'lucida grande', arial, tahoma, sans-serif;
	font-size:       30px;
	color:           #FFF;
	top:             5 auto;
	left:            12px;
}

#menu
{
	margin:          0 0px;
	height:          29px;
	background:      #bbd75a !important;
	background:      #b3d24e;
	padding:         5px 0;
}

#menu ul
{
	margin:          0;
	padding:         7px;

	height:          29px;
}

#menu ul li
{
	list-style:      none;
	display:         inline;
}

#menu ul li a:link, #menu ul li a:active, #menu ul li a:visited
{
	color:           #767676;	
	padding:         13px 7px 15px 7px;
	font-size:       1em;
	font-family:     'lucida grande', arial, sans-serif;
	font-weight:     bold;
	text-decoration: none;
}

#menu ul li a:hover
{
	
	color:           #FDFDFD;
}

#roundedheader
{
	width:           800px;
	height:          30px;
	margin:          0 auto;

}

#content
{
	width:           800px;
	height: 		 1000px;
	margin:          100 auto;
	background:      #EEEEEE
}

#insidecontent
{
	float:           left;
	padding-left:    25px;
	width:           355px;
}

#insidecontent p
{
	margin:          0;
	color:           #442467;
	font-family:     'lucida grande', 'franklin gothic medium', sans-serif;
	font-size:       1.2em;
	line-height:     170%;
}

#sidebar
{
	padding:         0 10px 10px 10px;
	float:           right;
	width:           210px;
	background:      #f6f;
}

#sidebar p
{
	margin:          0;
	color:           #565656;
	font-family:     'lucida grande', 'franklin gothic medium', sans-serif;
	font-size:       1em;
	line-height:     170%;
}

#sidebar a:link, #sidebar a:active, #sidebar a:visited
{
	text-decoration: underline;
	color:           #e36767;
}

#sidebar a:hover
{
	text-decoration: none;
}

#roundedfooter
{
	width:           800 auto;
	height:          20 auto;
	margin:          0 auto;
	
}

h1
{
	margin:          0;
	font-weight:     normal;
	color: olivedrab;
	font-size:       4.0em;
}
h2
{
	margin:          0;
	font-weight:     normal;
	color: olivedrab;
	font-size:       4.0em;
}
#footer
{
	margin:          0 auto;
	width:           800 auto;
	height:          45 auto;
	
}


body, html {
    background-color: lightsalmon;
    color: aqua;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
canvas {
    position:absolute;
    top:0;
    left:0
}

#is_active {
	color:#767676 ;	
	font-size:       1em;
	padding:         13px 7px 15px 7px;
	font-family:     'lucida grande', arial, sans-serif;
	font-weight:     bold;
	text-decoration: none;
}